/config/*
!/config/.gitkeep
/logs/*
!/logs/.gitkeep
/plugins/*
!/plugins/.gitkeep

/dags/job/__pycache__/
/dags/model/__pycache__/
/bot/src/__pycache__/
/bot/src/database/__pycache__/
/bot/src/command/__pycache__/
/bot/src/battle-summary.csv
/bot/src/router/__pycache__/
/bot/src/caller/__pycache__/
/proxy
/letsencrypt
.env
.venv/

.vscode/
Pipfile
Pipfile.lock